/* 
 * Banner wrapper
 */
.banners_wrapper{
  background: $black;
  padding-bottom: $space;

  .banner_small_wrapper{
    display: flex;
  }
}

/* 
 * Banner default
 * 
 * p - title
 * span - text
 *
 */
.banner{
  background: {
    repeat: no-repeat;
    position: 0 0;
    size: cover;
  }

  a{
    display: block;
    width: 100%;
    height: 100%;

    padding-left: 30px; 

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    text-decoration: none;
    overflow: hidden;
  }
  a, p , span {
    @include transition(all .25s ease-in-out);
    color: $white;
  }
  
  /* banner full width */
  &.banner_full{
    
    height: 275px;
    margin-bottom: $space;

    background:{
      image: url('/images/banner_full.jpg');
    } 
    a{
      justify-content: space-between;  
    }

    p{
      margin-top: 45px;
      font-size: 40px;
      line-height: 40px;
      position: relative;
      &:before{
        content: '';
        display: block;
        width: 60px;
        height: 2px;
        background: $white;
        position: absolute;
        z-index: 2;
        top: -15px;
        left: 0;
      }
    }
    span{
      display: block;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  /* banner small width */
  &.banner_small{
    width: 268px;
    height: 132px;

    p{
      font-size: 25px;
      line-height: 25px;
    }
    span{
      overflow: hidden;
      opacity: 0;
      height: 1px;

      /* font-size: 12px; */
      font-size: 13px;
      line-height: 14px;
    }

    &:nth-child(2){
      margin: 0 $space;
    }

    &:hover{ 
      a{
        background: rgba($black, .7);
      }
      p{
        margin-bottom: 15px;
      }
      span{
        overflow: visible;
        opacity: 1;
        height: auto;
      }
    }

    &.banner_small_1{
      background:{
        image: url('/images/banner_small_1.jpg');
      } 
    }
    &.banner_small_2{
      background:{
        image: url('/images/banner_small_2.jpg');
      } 
    }
    &.banner_small_3{
      background:{
        image: url('/images/banner_small_3.jpg');
      } 
    }
  }
}