/* 
 * Banner wrapper
 */
.banners_wrapper{
  background: $black;
  padding-bottom: $space;

  .banner_small_wrapper{
    display: flex;
  }
}

/* 
 * Banner default
 * 
 * p - title
 * span - text
 *
 */
.banner{
  background: {
    repeat: no-repeat;
    position: 0 0;
    size: cover;
  }

  a{
    display: block;
    width: 100%;
    height: 100%;

    padding-left: 15px; 

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    text-decoration: none;

    &:hover{
      background: rgba($black, .3);
    }
  }
  
  /* banner full width */
  &.banner_full{
    
    height: 275px;
    margin-bottom: $space;

    background:{
      image: url('/images/banner_full.jpg');
    } 
    a{
      justify-content: space-between;  
    }

    p{

    }
    span{

    }
  }

  /* banner small width */
  &.banner_small{
    width: 268px;
    height: 132px;

    p{
      margin-bottom: 15px;
    }
    span{

    }

    &:nth-child(2){
      margin: 0 $space;
    }

    &.banner_small_1{
      background:{
        image: url('/images/banner_small_1.jpg');
      } 
    }
    &.banner_small_2{
      background:{
        image: url('/images/banner_small_2.jpg');
      } 
    }
    &.banner_small_3{
      background:{
        image: url('/images/banner_small_3.jpg');
      } 
    }
  }
}