.btn{
	@include transition(all .25s ease-in-out);

	display: inline-block;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;

	text-decoration: none;
	color: $grey;
	background-color: #222222;

	&.lg{
		height: 35px;
		line-height: 35px;
		padding: 0 25px;

		font-size: 16px
	}

	&.sm{
		height: 25px;
		line-height: 25px;
		padding: 0 20px;

		font-size: 14px;
	}

	&:hover{
		color: $blue;
	}

	&.search{
		background:{
			image: url('/images/search.png');
			position: 50%;
			repeat: no-repeat;
		}
	}
	&.back{
		img{
			position: relative;
			top: 2px;
			display: inline-block;
			width: 14px;
			margin-right: 8px;
		}
	}
}