.faq_list{
  list-style-type: decimal;
  li{
  	padding-left: 5px;

  	font-size: 14px;
  	line-height: 17px;
  	color: $semiblack;
  	a{
  		text-decoration: none;
  		color: $blue;
  		&:hover{
  			text-decoration: underline;
  		}
  	}
  }
}

/* 
 * FAQ page
 */
.faq_page{
  padding: 30px 30px 40px;
  
  ._text{
    margin: 15px 0 30px;
  }
  .faq_list{
    margin: 30px 0 0 -15px;
    padding: 0;
    
    @extend .__clearfix;

    li{
      float: left;
      margin-left: 30px;
      width: calc(50% - 35px);
    }
  }
  ._choosen{
   margin-bottom: 0;
   margin-top: 15px 		
  }	
}

/*
 * FAQ_detail
 */
.faq_reply{
  padding: 30px 30px 40px;
  ._text{
    margin: 15px 0 20px;
  }
  ._choosen{
    margin-bottom: 20px;
  }

  .title{
    margin-bottom: 15px;
    color: $lightgrey;
    font:{
      size: 18px;
      family: $font_d;
    }
  }
  .text{
    margin-bottom: 25px;

    color: $lightgrey;
    line-height: 17px;
    font:{
      size: 14px;
      family: $font_r;
    }
  }
}
