.pagination{
	$size: 25px;
	
	margin-top: 30px;

	ul{
		margin: 0;
		padding: 0;
	}

	@extend .__clearfix;

	li{
		list-style-type: none;
		float: left;
		margin-right: 5px;

		&:last-child{
			margin-right: 0;
		}
	}

	a{
		display: inline-block;
		width: $size;
		height: $size;
		line-height: $size;
		
		background-color: #222222;
		color: $lightgrey;
		text:{
			align: center;
			decoration: none;
		}
		font: {
			size: 14px;
			family: $font_r;
		}

		@include transition(all .15s ease-in-out);

		&:hover{
			color: $white;
			background-color: $blue;
		}

		&.current{
			color: $blue;
			&:hover{
				background-color: #222222;
			}
		}

		&.disabled{
			background-color: #646464;
			cursor: default;
			&:hover{
				background-color: #646464;
				color: $lightgrey;
			}
		}
	}
}