/* 
 * Include fonts
 */
@font-face {
  font-family: 'conv_b';
  src: url('/fonts/Corporates S Cyrillic Bold.eot');
  src: local('☺'), url('/fonts/Corporates S Cyrillic Bold.woff') format('woff'), url('/fonts/Corporates S Cyrillic Bold.ttf') format('truetype'), url('/fonts/Corporates S Cyrillic Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'conv_r';
  src: url('/fonts/Corporates S Cyrillic Regular_1.eot');
  src: local('☺'), url('/fonts/Corporates S Cyrillic Regular_1.woff') format('woff'), url('/fonts/Corporates S Cyrillic Regular_1.ttf') format('truetype'), url('/fonts/Corporates S Cyrillic Regular_1.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daimler';
  src: url('/fonts/DaimlerCACPro-Regular.eot');
  src: local('☺'), url('/fonts/DaimlerCACPro-Regular.woff') format('woff'), url('/fonts/DaimlerCACPro-Regular.ttf') format('truetype'), url('/fonts/DaimlerCACPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?sjdgzz');
  src:  url('/fonts/icomoon.eot?sjdgzz#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?sjdgzz') format('truetype'),
    url('/fonts/icomoon.woff?sjdgzz') format('woff'),
    url('/fonts/icomoon.svg?sjdgzz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-double-to-right:before {
  content: "\e902";
}
.icon-add-image:before {
  content: "\e903";
}
.icon-left-arrow:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-send-message:before {
  content: "\e906";
}


/* 
 * Def's
 */
body{
  background: $white;
  font-family: $font_r;
}

*{
  box-sizing: border-box;
}

#wrapper{
  width: $app_width;
  margin: 0 auto;
}

/* clearfix */
.__clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.__clearfix { display: inline-block; }
* html .__clearfix { height: 1%; }
.__clearfix { display: block; }

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.left{
  float: left;
}
.right{
  float: right;
}

._box-shadow{
  box-shadow: inset 1px 1px 1px 0 #bebebe; 
}

/* 
 * Title
 */
.maintitle{
  /* line-height: 25px; */
  line-height: 35px;
  font: {
    family: $font_d;
    size: 25px;
  }
  color: $semiblack;
}

/* 
 * Search 
 * input + button
 */
._search{
  @extend .__clearfix;

  input[type="text"]{
    outline: 0;
    border: 0;
    
    width: 292px;
    float: left;
    padding-left: 15px;
    height: 35px;
    line-height: 35px;
    
    font: {
      size: 14px;
      family: $font_d;
    }
    color: $lightgrey;
    background: #eeeeee;
    
    @extend ._box-shadow;
  }

  input[type="submit"]{
    float: left;

    /* background-image: url('/images/loupe.svg'); */
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

._choosen{
  margin-bottom: 30px;

  font-size: 14px;
  color: $semiblack;

  .close{
    text-decoration: none;
    color: $semiblack;
    font-size: 8px;

    @include transition(color .15s ease-in-out);

    &:hover{
      color: $blue;
    }
  }
}

