/* 
 * Fonts
 */
$font_b: 'conv_b', sans-serif;
$font_r: 'conv_r', sans-serif;
$font_d: 'daimler', sans-serif;


/* 
 * Colors
 */

$white: #ffffff;
$black: #000000;

/* 
 * etc
 */
$app_width: 810px;
$space: 3px;