/* 
 * Fonts
 */
$font_b: 'conv_b', sans-serif;
$font_r: 'conv_r', sans-serif;
$font_d: 'daimler', sans-serif;

/* 
 * Colors
 */

$white: #ffffff;
$black: #000000;
$semiblack: #333333;
$lightgrey: #555555;
$grey: #999999;
$blue: #00adef;
$red: #b82c35;

/* 
 * etc
 */
$app_width: 810px;
$half: $app_width/2;
$space: 3px;